<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCService" 
						 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53242/WCService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCService" contract="WCServiceRef.IWCService"
                name="BasicHttpBinding_IWCService" />
        </client>
    </system.serviceModel>
</configuration>